:root{
    --bg-black: #1A1A1D;
    --main-red: #C3073F;
    --sup-red: #6F2232;
    --main-white: #ffffff;
    --sup-white: #9e9e9e;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-black);
}
input{
    font-family: 'Courier New', Courier, monospace;
}

main{
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    padding-top: 130px;
}

/* NOTIFICATION MESSAGES */

.messages{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.messages__message{
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* border-radius: 32px; */
    color: var(--main-white);
}
.messages__message_error{
    background-color: #9b0000;
}
.messages__message_success{
    background-color: #007419;
}
.messages__message_warning{
    background-color: #c98900;
}
.message__title{
    font-size: 20px;
    font-weight: 700;
}
.message__description{
    font-size: 16px;
    font-weight: 400;
}


/* NOTIFICATION MESSAGES END */


/* TABLE STYLES */
.table_items{
    flex-basis: 75%;
    display: grid;
    /* grid-template-columns: repeat(4, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.table_items__card{
    padding: 25px;
    box-sizing: border-box;
    border: solid 2px var(--sup-red);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.table_items__card_add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table_items__card_add > svg{
    width: 100px;
    height: 100px;
    fill: var(--sup-white);
}
.table_items__card_add:hover{
    border-color: var(--main-red);
}
.table_items__card_add:hover svg{
    fill: var(--main-white);
}

.card__title{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: var(--main-white);
}

.card__info{
    font-size: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 10px;
    column-gap: 10px;
}

.card__name{
    color: var(--sup-white);
}
.card__value{
    color: var(--main-white);
    text-align: center;
}
.card__value > input{
    width: 100%;
    padding: 4px 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: var(--bg-black);
}
.card__value > input[type="checkbox"]{
    transform: scale(1.4);
}
.card__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.card__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: var(--main-white);
    border: var(--main-red) 1px solid;
    border-radius: 5px;
    background-color: #1A1A1D;
    box-sizing: border-box;
}
.card__button_edit,
.card__button_delete{
    width: 35px;
}
.card__button_save{
    width: 100%;
    display: none;
}

.card__button > img{
    width: 20px;
    height: 20px;
}
.card__button:hover{
    background-color: var(--main-red);
    transition: 0.25s;
}

/* EDIT CARD */
.table_items__card_edit .card__value input,
.table_items__card_add .card__value input{
    background-color: black !important;

}
.table_items__card_edit .card__button_save{
    display: block;
}
.table_items__card_edit .card__button_edit{
    background-color: #C3073F;
}

/* TABLE STYLES END */