@media (min-width: 950px){
    header .nav .menu-btn, .menu-close-btn{
        background-color: none;
        display: none;
    }
    footer .main-container{
        flex-direction: row;
        gap: 40px;
    }
    footer .social-media{
        margin-left: auto;
    }
    footer .footer-container-2 .info p{
        margin-left: auto;
    }
}
@media (max-width: 950px){
    header .logo .l3{
        display: none;
    }
    header .nav .menu-btn, .menu-close-btn{
        background-color: none;
        display: none;
    }
    footer .main-container{
        flex-direction: row;
        gap: 40px;
        justify-content: center;
    }
    footer .social-media{
        margin-left: 0;
    }
    footer .footer-container-2 .info p{
        margin-left: 0;
    }
    footer .footer-container-2 .info{
        justify-content: center;
    }
}
@media (max-width: 840px){
    header .logo .l3{
        display: none;
    }
    header .logo .l2{
        display: none;
    }
    header .nav .menu-btn, .menu-close-btn{
        background-color: none;
        display: none;
    }
    footer .main-container{
        flex-direction: row;
        gap: 40px;
        justify-content: center;
    }
    footer .social-media{
        margin-left: 0;
    }
    footer .footer-container-2 .info p{
        margin-left: 0;
    }
    footer .footer-container-2 .info{
        justify-content: center;
    }
}
@media (max-width: 700px){
    header .logo .l3{
        display: none;
    }
    header .logo .l2{
        display: none;
    }
    header .nav .hide-mob{
        display: none;
    }
    header .menu-btn{
        display: block;
    }
    header .menu-close-btn{
        display: none;
    }
    header .nav .menu-btn{
        background-color: none;
        display: block;
    }
    footer .main-container{
        flex-direction: row;
        gap: 40px;
        justify-content: center;
    }
    footer .social-media{
        margin-left: 0;
    }
    footer .footer-container-2 .info p{
        margin-left: 0;
    }
    footer .footer-container-2 .info{
        justify-content: center;
    }
}


header{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0px 40px;
    box-sizing: border-box;
    z-index: 10;
}
header .header-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 15px;
}
header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 19px;
    color: white;
    letter-spacing: 0px;

}
header .logo .l1{
    display: flex;
    width: 40px;
    height: 40px;

    background-color: white;
    border-radius: 13px;

    justify-content: center;
    align-items: center;
}
header .logo .l1 span{
    /* opacity: 0; */
    color: #f24973;
}
header .logo .l2{
    /* font-weight: 100; */
}
header .logo .l2 span{
    font-weight: bold;
    letter-spacing: -1px;
}
header .logo .l3{
    border-left: solid white 1px;
    padding: 10px;
}

header .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
header .nav a{
    font-size: 16px;
    color: white;
    cursor: pointer;
}
header .nav a:hover{
    color: #165aaa;
    transition: 0.3s;
}
header .nav .btn{
    display: block;
    line-height: 40px;
    font-weight: bold;
    background-color: #5b4dff;
    padding: 0 17px;
    box-sizing: border-box;
    border-radius: 20px;
}
header .nav .btn:hover{
    filter: brightness(106%);
    color: white;
    transition: 0.3s;
}
header .nav .menu-btn svg{
    width: 25px;
    height: 19px;
    background-color: none;
    fill: white;
}
header .nav .menu-btn:hover svg{
    fill: #165aaa;
}
header .nav .menu-close-btn svg{
    width: 25px;
    height: 19px;
    background-color: none;
    fill: white;
}
header .nav .menu-close-btn:hover svg{
    fill: #165aaa;
}
#mobile-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#mobile-menu .mobile-menu-container{
    width: 100vw;
    height: 100%;
    background-color: #269956;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-top: 110px;
}
#mobile-menu .mobile-menu-container a{
    color: #eae3d9;
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
}
#mobile-menu .mobile-menu-container a:hover{
    color: white;
    transition: 0.3s;
}



footer{
    display: block;
    width: 100%;
}
footer .footer-container-1{
    background-color: #26bf66;
    display: flex;
    flex-direction: column;
    padding: 58px 0 31px 0;
    width: 100%;
}
footer .main-container{
    display: flex;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    gap: 40px;
    color: #eae3d9;
    font-size: 15px;
    flex-wrap: wrap;
}
footer .logo{
    width: 160px;
}

footer .logo .l1{
    font-size: 22px;
    color: #26bf66;
    letter-spacing: 0px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    width: 55px;
    height: 55px;

    background-color: white;
    border-radius: 18px;

    justify-content: center;
    align-items: center;
}
footer .workout{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .company{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .more{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .main-container > div > h3{
    color: white;
    width: 160px;
}
footer .main-container > div > a{
    cursor: pointer;
}
footer .main-container > div > a:hover{
    color: white;
    transition: 0.3s;
}
footer .social-media{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
footer .social-media a{
    display: block;
    width: 28px;
    height: 28px;
}
footer .social-media svg{
    width: inherit;
    height: inherit;
    fill: #eae3d9;
}
footer .social-media a:hover svg{
    fill: white;
}
footer .footer-container-2{
    width: 100%;
    background-color: #269956;
    padding: 20px 0 15px 0;
    color: white;
}
footer .footer-container-2 .info{
    max-width: 1150px;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
footer .footer-container-2 .info a{
    cursor: pointer;
    text-align: center;
}
footer .footer-container-2 .info a:hover{
    text-decoration: underline;
}
footer .footer-container-2 .info p{
    color: #eae3d9;
    text-align: center;
}