body{
    margin: 0;
	font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
	background-color: #1A1A1D;
	/* letter-spacing: -1px; */
	word-spacing: -5px;
}

main{
    /* max-width: 1200px; */
    width: 100%;
	color: #C5C6C7;
}

.authorization-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 500px;
    box-sizing: content-box;

    background-color: #0B0C10;
    /* border: solid 4px #6F2232;
    background-color: #0B0C10;
    border-radius: 10px; */
    /* background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
    /* backdrop-filter: blur(30px); */
    border-radius: 20px;      
  /* width: min(900px, 100%); */
  /* box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12); */
    box-shadow: 0 0 4px 3px #6F2232;
    /* padding: 20px; */
    /* border-radius: 5px; */
}

.container-links{
    display: flex;
    justify-content: center;
}

.container-links a{
    display: block;
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #C3073F;
}
.container-links a.active{
    color: #6F2232;
}
.container-links a:hover{
    color: #C3073F;
    transition: 0.3s;
}

.inp-text-auth{
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
    width: 80%;
    font-size: 24px;
    margin-top: 20px;
    background-color: #1A1A1D;
    border: none;
    /* border: solid 1px #C5C6C7; */
    /* border-radius: 3px; */
    padding: 5px 10px 5px 10px;
    color:#C5C6C7;
}

.inp-text-auth:focus{
    outline: none;
}

.btn-sub-auth{
    background-color: #0B0C10;
    border: solid 3px #C5C6C7;
    color: #C5C6C7;
    width: 80%;
    font-size: 24px;
    padding: 2px;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.btn-sub-auth:hover{
    background-color: #C5C6C7;
    color: #0B0C10;
    transition: 0.3s;
}
.authorization-container .errors{
    text-decoration: underline #C3073F;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}