/* 
#0B0C10 - черный
#1F2833 - темный
#C5C6C7 - серый.белый
#66FCF1 - бирюзовый
#45A29E - темно бирюзовый


#61892F - темно зеленый
#86C232 - зеленый
#222629 - черный
#474B4F - темно серый
#6B6E70 - светло серый

#1A1A1D - черный
#4E4E50 - серый
#6F2232 - темно красный
#950740 - чуть светлее
#C3073F - красный
*/

body{
    margin: 0;
	min-width: 400px;
	font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
	background-color: #1A1A1D;
	/* letter-spacing: -1px; */
	word-spacing: -5px;
}

main{
    max-width: 1200px;
    margin: 0 auto;
	/* margin-top: 100px; */
	color: #C5C6C7;
	padding-top: 100px;
	min-height: 500px;
}

/* MAIN IMAGE */
.main-container-image{
	display: flex; 
	justify-content: center;
	width: 100%;
	margin-top: 100px;

	background-color: #C5C6C7;
	/*
	background-image: url(../images/preview-2.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 1920px 500px; */

}

.main-image{
	width: 60%;
	min-width: 400px;
	display: block;
	box-sizing: border-box;
	/* flex: 1 100%; */
	/* box-shadow: 0px 0px 5px #0B0C10; */

}
/* MAIN BLOCKS */
main .container-inf{
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
	width: 100%;
	/* height: 500px; */
	align-items: center;
	border: #6F2232 solid 3px;
	border-radius: 50px;
	margin-bottom: 100px;

	box-sizing: border-box;
	padding: 20px;
	flex-wrap: wrap;
	/* padding: 20px; */

}

main .container-inf .block-img{
	flex: 1;
	max-width: 565px;
	box-sizing: border-box;
	border-radius: 50px;
}

main .container-inf .block-text{
	font-size: 24px;
	min-width: 200px;
	max-width: 565px;
	box-sizing: border-box;

	text-align: center;
	
}

main .container-inf .block-text h2{
	flex: 1;
	font-size: 36px;
	text-align: center;
	color: #C5C6C7;
	border-bottom: solid 2px #C3073F;
	
}
main .container-inf .block-text p{
	margin: 0;
	padding: 0;
	padding-top: 10px;
}
/* MENU  */
#container-menu{
	padding-top: 100px;

}
#container-menu .title-page{
	padding: 20px 10px 20px 10px;
	font-size: 42px;
	text-decoration: underline #C3073F;
}

#container-menu h1{
	/* color:#C3073F; */
	color: #C5C6C7;
	/* text-decoration: underline #C3073F; */
	text-decoration: underline #6F2232;

	text-align: center;
	/* color: #C5C6C7; */
	font-size: 32px;
	letter-spacing: 2.5px;

	/* padding-top: -100px; */
}
#container-menu hr{
	color: #C3073F;
	border-color: #C3073F;
}

#container-menu h2{
	/* color:#C3073F; */

	/* text-align: center; */
	color: #C5C6C7;
	font-size: 24px;
	font-weight: normal;

	/* padding-top: -100px; */
}

/* TOVARS */
main .menu-content{
	display: flex;
	/* max-width: 1200px; */
	/* display: table; */
	flex-wrap: wrap;
	/* justify-content: center; */
	/* flex-direction: row; */
	/* justify-content: space-between; */
	/* width: 100%; */
	flex-direction: row;
	/* column-gap: 30px; */
	margin-left: auto;
	margin-right: auto;

}

main .item-card{
	max-width: 400px;
	/* width: 400px; */
	padding: 0px 20px 0px 20px;
	flex-direction: column;
	display: flex;
	box-sizing: border-box;
	font-size: 24px;
}

main .info-container{
	height: 100%;
	width: 100%;
	/* height: 194px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main .item-card .image-card{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
}

.item-card .title{
	display: block;
	font-weight: bold;
	/* color: #C3073F; */
	color: #C5C6C7;
}

.item-card .price{
	padding-top: 20px;
	/* margin-top: 20px; */
	display: block;
	margin-top: auto;

	font-size: 24px;
	font-weight: bold;
}
.item-card .description{
	padding-top: 10px;
	display: block;
	text-wrap: wrap;
	letter-spacing: -1px;
	font-size: 20px;
}

.item-card .add-product{
	bottom: 0;
	width: 100%;
	color: #C5C6C7;
	background-color: #C3073F;
	font-size: 24px;
	font-weight: bold;
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
}
.item-card .add-product:hover{
	/* background-color: #6F2232; */
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	cursor: pointer;
	transition: 0.3s;
}

main .sepparator{
	width: 100%;
	margin-top: 100px;
}

/* DELIVERY PAGE */

#container-delivery .title-page{
	color:#C5C6C7;
	font-size: 42px;
	letter-spacing: 2.5px;
}
#container-delivery .title-page-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
#container-delivery .delifery-main-container{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;
	/* padding-top: 20px; */

	margin: 0 auto;
}

#container-delivery .first-block{
	display: flex;
	flex-direction: column;
	width: 400px;
	box-sizing: border-box;
	margin: 0 auto;
}
#container-delivery .work-info-block{
	width: 400px;
	box-sizing: border-box;
	padding: 20px;
	border: solid 3px #C3073F;
	border-radius: 15px;
	margin-bottom: 20px;
}
#container-delivery .attention-block{
	/* color: #1A1A1D; */
	width: 400px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #C3073F;
	border-radius: 15px;
	margin-bottom: 20px;
}
#container-delivery .security-block{
	width: 400px;
	box-sizing: border-box;
	padding: 15px;
	padding-top: 0px;
	margin: 0 auto;
}

#container-delivery .delivery-block{
	width: 400px;
	box-sizing: border-box;
	padding: 15px;
	padding-top: 0px;
	margin: 0 auto;
}
#container-delivery .time-block{
	width: 400px;
	box-sizing: border-box;
	padding: 15px;
	padding-top: 0px;
	margin: 0 auto;
}
#container-delivery .take-out-block{
	width: 400px;
	box-sizing: border-box;
	padding: 15px;
	padding-top: 0px;
	margin: 0 auto;
}

#container-delivery .use-info-block{
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 800px;
	flex-wrap: wrap;
	margin: 0 auto;
}

#container-delivery .use-info-block h1{
	margin-bottom: 5px;
}

/* CONTACTS PAGE */
#container-contacts{
	min-height: 600px;
	display: flex;
}
.container-content-contacts{
	display: flex;
	flex-direction: column;
	margin:auto;
	box-sizing: content-box;
}
.title-page{
	margin: auto;
	font-size: 42px;
	letter-spacing: 2.5px;
	padding: 10px;
	text-decoration: underline #C3073F;
}
#container-contacts .phone-num{
	margin: auto;
	padding: 10px;
	font-size: 42px;
	color: #C3073F;
}
.description-phone{
	margin: auto;
}

#container-user-page{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#container-user-page > div{
	width: 400px;
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	font-size: 24px;
	gap: 10px;
	font-weight: bold;
	color: #C3073F;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
}

.title-page-acc{
	text-align: center;
	font-size: 42px;
	letter-spacing: 2.5px;
	padding: 10px;
	text-decoration: underline #C3073F;
	color: #C5C6C7;
}
#container-user-page .user{
	align-self: flex-end;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #C5C6C7;
}

#container-user-page input[type='submit']{
	width: 40%;
	font-size: 24px;
	background-color: #1A1A1D;

}

#container-user-page > div > form{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin: 20px 0px;
}

#container-user-page input[type='submit']{
    background-color: #0B0C10;
    border: solid 3px #C5C6C7;
    color: #C5C6C7;
    width: 70%;
    font-size: 24px;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#container-user-page input[type='submit']:hover{
    background-color: #C5C6C7;
    color: #0B0C10;
	transition: 0.3s;
}

#shop-cart-page .shop-cart-container h1{
	text-align: center;
	font-size: 42px;
	letter-spacing: 2.5px;
	padding: 10px;
	text-decoration: underline #C3073F;
	color: #C5C6C7;
}

#shop-cart-page .shop-cart-content{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 10px;
}
#shop-cart-page .shop-cart-content .card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 200px;

}
#shop-cart-page .shop-cart-content .card img{
	max-width: 200px;
	margin: auto 0;
}

#shop-cart-page .shop-cart-content .card .info{
	padding-top: 20px;
	height: 90%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	text-decoration: none;
	text-wrap: wrap;
	overflow: hidden;
}
#shop-cart-page .shop-cart-content .card h2{
	font-size: 32px;
}
#shop-cart-page .shop-cart-content .card .price{
	/* margin-top: auto; */
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
}

#shop-cart-page .shop-cart-content .card .right-side{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#shop-cart-page .shop-cart-content .card .amount{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-weight: bold;
}
#shop-cart-page .shop-cart-content .card .left-side{
	display: flex;
	flex-direction: row;
	width: 50%;
}
#shop-cart-page .left-side .add_dell_el{
	/* margin-top: auto; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#shop-cart-page .shop-cart-content .add_dell_el button{
	border-radius: 5px;
	font-size: 24px;
	color: #C5C6C7;
	border: solid 2px #C3073F;
	background-color: #1A1A1D;
	width: 40px;
	height: 40px;
	max-width: 40px;
	padding: 5px;
	box-sizing: border-box;
}

#shop-cart-page .shop-cart-content .add_dell_el button:hover{
	background-color: #C3073F;
	transition: 0.3s;
}
.shop-cart-content .empty{
	font-size: 46px;
	font-weight: bold;
	text-align: center;
}

#shop-cart-page .shop-cart-summ{
	margin-top: 20px;
	display: flex;
	/* justify-content: space-between; */
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	gap: 20px;

}
#shop-cart-page .shop-cart-summ .summ{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-size: 32px;
	font-weight: bold;
}
#shop-cart-page .shop-cart-summ .order_btn{
	padding: 6px 25px 6px 25px;
	font-size: 32px;
	color: #C5C6C7;
	background-color: #1A1A1D;
	border: solid 3px #C3073F;
	border-radius: 10px;
	font-weight: bold;

}

#shop-cart-page .shop-cart-summ .order_btn:hover{
	background-color: #C3073F;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	cursor: pointer;
	transition: 0.3s;

}
#shop-cart-page hr{
	background-color: #C3073F;
	border-color: #C3073F;
}
#shop-cart-page .shop-cart-summ .btn-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
}

#shop-cart-page .shop-cart-summ .btn-container input[type='text']{
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
    /* width: 80%; */
    font-size: 24px;
    /* margin-top: 20px; */
    background-color: #1A1A1D;
    /* border: none; */
    border-right: none;
	border: solid 2px #C3073F;
	border-image: linear-gradient(to right, #C3073F, #1A1A1D);
    border-image-slice: 1;
    /* border-radius: 3px; */
    padding: 5px 10px 5px 10px;
    color:#C5C6C7;

}
#shop-cart-page .shop-cart-summ .btn-container input[type='text']:focus{
	border: solid 2px #C3073F;
	/* border-image: linear-gradient(to right, #C3073F, #1A1A1D); */
	border-image: none;
    border-image-slice: 1;
	outline: none;
}

/* ORDERS PAGE */

#orders-page .orders-container h1{
	text-align: center;
	font-size: 42px;
	letter-spacing: 2.5px;
	padding: 10px;
	text-decoration: underline #C3073F;
	color: #C5C6C7;
}

#orders-page .orders-container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
	/* box-sizing: border-box; */

}
#orders-page .order-container{
	border: solid 3px #C3073F;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	font-size: 24px;
	box-sizing: border-box;
	padding: 20px 30px 20px 30px;

}
#orders-page .order-container>div{
	text-align: right;
	font-weight: bold;
}

#main-page{
	margin-top: 0;
	padding-top: 0;
}
#main-page .title-page{
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.none-text{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

::-webkit-scrollbar{
	width: 10px;
	height: 1720px;
}
::-webkit-scrollbar-track{
	background-color: #0B0C10;
	/* border-left: 1px solid #C3073F; */
	/* border-radius: 10px; */
}
::-webkit-scrollbar-thumb{
	/* background-color: #C5C6C7; */
	background-color: #6F2232;
	border-radius: 10px;
}